hello-world/src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88d829a9-d98b-4d5b-8c9f-77be2082b2ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="b75f851c-e1c8-4489-8129-263b6024385e" >
		<http:listener doc:name="Listener" doc:id="56337468-78c0-43d6-899f-3c8a6e67e1e0" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<set-payload value='#[output application/json --- {
	message: "hello-world"
}]' doc:name="Set Payload" doc:id="5634e26d-5e21-44d1-8b3c-a4439af623a4" />
	</flow>
</mule>
